<form class="{{cssClass}} sheet-border" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
       <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="flex:0.2;" height="150" width="150"/>

        <div class="stats" style="flex:0.15;">
                <div style="padding:5px; ">
                    <label style="font-size:16px; text-align:left; display:block;" for="data.stats.brawn">BRAWN </label>
                    <div class="flexrow">
                        <input type="text" name="data.stats.brawn" value="{{data.stats.brawn}}" data-dtype="Number" style="flex:0.40;"/>
                        <div style="text-align: center;">
                            <a class="rollable" data-roll="2d6+{{data.stats.brawn}}" data-label="Brawn Check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                        </div>

                    </div>

                </div>
                <div style="padding:5px; "  >
                    <label style="font-size:16px; text-align: left; display:block;" for="data.stats.wit">WITS</label>
                    <div class="flexrow">
                        <input type="text" name="data.stats.wits" value="{{data.stats.wits}}" data-dtype="Number" style="flex:0.40;"/>
                        <div style="text-align: center;">
                            <a class="rollable" data-roll="2d6+{{data.stats.wits}}" data-label="Wits Check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                        </div>
                    </div>

                </div>
                <div style="padding:5px;  ">
                    <label style="font-size:16px; text-align: left; display:block;" for="data.stats.will">WILL</label>
                    <div class="flexrow">
                        <input type="text" name="data.stats.will" value="{{data.stats.will}}" data-dtype="Number" style="flex:0.40;"/>
                        <div style="text-align: center;">
                            <a class="rollable" data-roll="2d6+{{data.stats.will}}" data-label="Will Check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                        </div>
                    </div>

                </div>
        </div>

        <div style="flex:0.5;">
            <h1 class="charname  text-input"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <h2 class="archtype charname text-input">
                <select name="data.archtype" class="archtype" style="width: 100%; border: none; border-bottom: solid 1px; font-family: 'Libre Baskerville', serif; font-size: 1em;">
                    {{#select data.archtype}}
                    <option value="believer">Believer</option>
                    <option value="cabalist">Cabalist</option>
                    <option value="cut-throat">Cut-Throat</option>
                    <option value="dastard">Dastard</option>
                    <option value="everyman">Everyman</option>
                    <option value="freeblade">Freeblade</option>
                    <option value="outcast">Outcast</option>
                    <option value="protagonist">Protagonist</option>
                    <option value="scholar">Scholar</option>
                    <option value="veteran">Veteran</option>
                    {{/select}}
                </select>
            </h2>

            <div class="stats flexrow" >
                <div class="resource">
                    <div style="margin:0 auto; width:90%;">
                        <label for="data.measures.vigour.value" style="font-size:16px; text-align: center; display:block;">Vigor</label>

                            <div style="width:33%; display:inline-block; text-align:center;">
                                <input type="text" name="data.measures.vigour.value" value="{{data.measures.vigour.value}}" data-dtype="Number" style="border-right:none; border-left:none; border-bottom:solid 2px black; width:75%;"/>
                                <small style="text-align:center;">current</small>
                            </div>

                            <div style="width:33%; display:inline-block; text-align:center;">
                                <input type="text" name="data.measures.vigour.max" value="{{data.measures.vigour.max}}" data-dtype="Number" style="border-right:none; border-left:none; border-bottom:solid 2px black; width:75%;"/>
                                <small style="text-align:center;">max</small>
                            </div>
                    </div>
                </div>

                <div class="resource" style="flex:0.3;">
                    <label for="data.measures.grip" style="font-size:16px; text-align: center; display:block;">Grip</label>
                    <div class="flexrow">
                        <input type="text" name="data.measures.grip" value="{{data.measures.grip}}" data-dtype="Number" />
                        <!--
                        <div style="text-align: center;">
                            <a class="rollable" data-roll="2d6+{{data.stats.will}}" data-label="Grip Check" style=""><i class="fas fa-dice fa-lg" ></i></a>
                        </div> -->
                    </div>


                </div>
<!--
                <div class="resource">
                    <label for="data.armor.value" style="font-size:16px; text-align: center; display:block;">Armour</label>
                    <input type="text" name="data.armor.value" value="{{data.armor.value}}" data-dtype="Number"/>
                </div> -->
            </div>



        </div>

        <div class="stats" style="flex:0.1;">
            <div style="padding:5px;   text-align:center;">
                <label style="font-size:12px;" for="data.xp.value">XP</label><br>
                <input type="text" name="data.xp" value="{{data.xp}}" data-dtype="Number" style=""/>
            </div>
            <div style="padding:5px;   text-align:center;">
                <label for="data.armor" style="font-size:12px; text-align: center; display:block;">Armour</label>
                <input type="text" name="data.armor" value="{{data.armor}}" data-dtype="Number"/>
            </div>
            <div style="padding:5px;   text-align:center;">
                <label for="data.init_mod" style="font-size:12px; text-align: center; display:block;">Init mod</label>
                <input type="text" name="data.init_mod" value="{{data.init_mod}}" data-dtype="Number"/>
            </div>
        </div>

    </header>

    <section class=" ">
        <div class="flexrow" style="  margin:0 auto; justify-content:left; align-items: center; padding-left: 25px;">
            {{#each locations as |location| }}
            <div class="location" data-location="{{location.key}}" style=" height:80px; max-width:60px; text-align: center;">
                <label style="font-size:10px; text-align: center;">{{location.name}}</label>
                <ol class="items-list"  style="margin:0; overflow-y: visible; min-height:50px;">
                    <li class="" >
                        <ol clas="items-list" style="list-style:none; padding:0; margin:0;">
                            {{#each location.items as |item id|}}
                                {{!-- WEAPONS  --}}
                                {{#ifEquals item.type "weapon"}}
                                <li class="item " data-item-id="{{item._id}}" data-item-type="{{item.type}}" style="border-bottom:none; padding:0; text-align:center; ">
                                    <a class="rollable-weapon " title="{{item.name}}" data-roll="3d6" data-stat="{{item.data.stat}}" data-weapontype="{{item.data.type}}" data-twohanded="{{item.data.isTwoHanded}}" data-label="with {{weapon.name}}" >
                                        <img class="item-control" src="{{item.img}}" title="{{item.name}}" width="40" height="40" style="border:none; display:block; margin:0 auto;" />
                                    </a>
                                    <a class="item-control item-name item-edit" style="font-size:10px;">edit</a>
                                </li>
                                {{/ifEquals}}

                                {{!-- GEAR  --}}
                                {{#ifEquals item.type "gear"}}
                                <li class="item " data-item-id="{{item._id}}" data-item-type="gear" style="border-bottom:none; padding:0; text-align:center; ">
                                    <a class="item-controls" title="{{item.name}}" data-roll="3d6"  data-label="with {{item.name}}" >
                                        <img class="item-control " src="{{item.img}}" title="{{weapon.name}}" width="40" height="40" style="border:none; display:block; margin:0 auto;" />
                                    </a>
                                    <a class="item-control item-name item-edit" style="font-size:10px;">edit</a>
                                </li>
                                {{/ifEquals}}

                            {{/each}}

                        </ol>
                    </li> <!-- .item-container -->
                </ol>
            </div>
            {{/each}}
        </div>

    </section>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary" style="padding: 0 5%;">
        <a class="item" data-tab="items" style="flex:1;">Gear</a>
        <a class="item" data-tab="abilities" style="flex:1;">Abilities</a>
        <a class="item" data-tab="consequences" style="flex:1;">Afflictions</a>
        <a class="item" data-tab="treasure" style="flex:1;">Treasure</a>
        <a class="item" data-tab="biography" style="flex:1;">Notes</a>

    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body" style=" padding: 0 60px;">


        {{!-- Weapons Tab --}}
       <!--  <div class="tab weapons" data-group="primary" data-tab="weapons">
            <ol class="items-list">
                {{#each data.owned.weapons as |weapon id|}}
                <li class="item flexrow" data-item-id="{{weapon._id}}">
                    <img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24" />
                    <a class="item-control item-name item-edit">{{weapon.name}}</a>

                    <span>T: {{weapon.data.type}}</span>
                    <span>R: {{weapon.data.range}}</span>
                    <span>A: {{weapon.data.stat}}</span>
                    <span>Dmg: {{weapon.data.damage}}</span>
                    <span>I: {{weapon.data.init}}</span>

                </li>
                {{/each}}
            </ol>

        </div> -->

        {{!-- Gear Tab --}}
        <div class="tab items " data-group="primary" data-tab="items" >
            {{!-- GEAR --}}
            <div class="flexrow" >
                <div class="weapons" style="flex:0.50; padding-right:10px; min-height:100px;" data-location="backpack">
                    <ol>
                        <h2 style=" font-family: 'MedievalSharp', cursive;">Weapons <small style="float:right; color:#fff; font-size:12px; border:solid 1px black; background-color:gray;"><a class="weapon-create">+ add</a></small></h2>

                        <ol class="items-list weapons-list"  style="">
                            {{#each data.owned.weapons as |weapon id|}}
                                {{#ifEquals weapon.data.location "backpack"}}
                                <li class="item  " data-item-id="{{weapon._id}}" data-item-type="weapon" style="height:65px;">
                                    <div class="flexrow" style="padding-bottom:2px;">
                                        <img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24" style="border:none;" />
                                        <a class="item-control item-name item-edit" style="flex:0.90;">{{weapon.name}}</a>

                                        <div class="item-controls">
                                            <!-- <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> -->
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                        </div>

                                        <div style="text-align: right; flex:0.10;">
                                            <a class="rollable-weapon" data-roll="3d6" data-stat="{{weapon.data.stat}}" data-weapontype="{{weapon.data.type}}" data-twohanded="{{weapon.data.isTwoHanded}}" data-label="with {{weapon.name}}" ><i class="fas  fa-dice fa-lg" ></i></a>
                                        </div>

                                    </div>
                                    <div class="flexrow" style="border:solid 1px #222; color:#fff; background-color:rgba(0, 0, 0, 0.50); font-size:10px;">
                                        <div style="flex:.2; padding:2px; text-align:center;">T: {{weapon.data.type}}</div>
                                        <div style="flex:.2;padding:2px; text-align:center;">R: {{weapon.data.range}}</div>
                                        <div style="flex:.2;padding:2px; text-align:center;">A: {{weapon.data.stat}}</div>
                                        <div style="flex:.2;padding:2px; text-align:center;">D: {{weapon.data.damage}}</div>
                                        <div style="flex:.2;padding:2px; text-align:center;">I: {{weapon.data.init}}</div>
                                    </div>
                                </li>
                                {{/ifEquals}}
                            {{/each}}
                        </ol>

                    </ol>

                </div>

                <div style="flex:0.50;">
                    <ol class="items-list">
                        <h2 style=" font-family: 'MedievalSharp', cursive;">Equipment <small style="float:right; color:#fff; font-size:12px; border:solid 1px black; background-color:gray;"><a class="gear-create">+ add</a></small></h2>

                        {{#each data.owned.inventory as |item id|}}
                            {{#ifEquals item.data.location "backpack"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="item-control item-name item-edit">{{item.name}}</a>

                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/ifEquals}}
                        {{/each}}
                    </ol>
                </div>
            </div>



        </div>

        {{!-- Abilities Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <div class="flexrow" style="padding-top:5px;">
                <div style="flex:0.50; padding-right:10px;">
                    <h2 style=" font-family: 'MedievalSharp', cursive;">Abilities </h2>

                    <ol class="items-list">
                        {{#each data.owned.abilities as |ability id|}}
                        <li class="item flexrow" data-item-id="{{ability._id}}">
                            <img src="{{ability.img}}" title="{{ability.name}}" width="24" height="24" />
                            <a class="item-control item-name item-edit">{{ability.name}}</a>

                            <!--  <div class="item-controls">
                                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                              </div> -->
                        </li>
                        {{/each}}
                    </ol>
                </div>
                <div style="flex:0.50; ">
                    <h2 style=" font-family: 'MedievalSharp', cursive;">Advancements </h2>
                    <ol class="items-list">
                        {{#each data.owned.advancements as |advancement id|}}
                        <li class="item flexrow" data-item-id="{{advancement._id}}">
                            <img src="{{advancement.img}}" title="{{advancement.name}}" width="24" height="24" />
                            <a class="item-control item-name item-edit">{{advancement.name}}</a>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>


        </div>

<!--
        {{!-- Advancements Tab --}}
        <div class="tab advancements" data-group="primary" data-tab="advancements">
            <ol class="items-list">
                {{#each data.owned.advancements as |advancement id|}}
                <li class="item flexrow" data-item-id="{{advancement._id}}">
                    <img src="{{advancement.img}}" title="{{advancement.name}}" width="24" height="24" />
                    <a class="item-control item-name item-edit">{{advancement.name}}</a>
                </li>
                {{/each}}
            </ol>
        </div>
        -->

        {{!-- Consequences Tab --}}
        <div class="tab consequences" data-group="primary" data-tab="consequences">
            <ol class="items-list">
                {{#each data.owned.consequences as |consequence id|}}
                <li class="item flexrow" data-item-id="{{consequence._id}}">
                    <img src="{{consequence.img}}" title="{{consequence.name}}" width="24" height="24" />
                    <a class="item-control edge item-name item-edit">{{consequence.name}}</a>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'BLB.EdEdge'}}"><i
                                class="fas fa-edit"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Treasure Tab --}}
        <div class="tab treasure" data-group="primary" data-tab="treasure">
            <ol class="items-list">
                <h2 style=" font-family: 'MedievalSharp', cursive; text-align:right;"><small style=" color:#fff; font-size:12px; border:solid 1px black; background-color:gray;"><a class="treasure-create">+ add</a></small></h2>

                {{#each data.owned.treasures as |treasure id|}}
                <li class="item flexrow" data-item-id="{{treasure._id}}">
                    <img src="{{treasure.img}}" title="{{treasure.name}}" width="24" height="24"/>
                    <a class="item-control item-name item-edit" style="flex:0.45;">{{treasure.name}}</a>

                    <div style="flex:0.15;">Qty: {{treasure.data.quantity}}</div>
                    <div style="flex:0.15;">Wgt: {{math treasure.data.weight '*' treasure.data.quantity}}</div>
                    <div style="flex:0.15;"> Value: {{math treasure.data.quantity '*' treasure.data.price}}</div>
                    <div class="item-controls" style="flex:0.10; text-align:right;">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">

            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>

