<section>
    <ol class="items-list">
        {{#each data.owned.advancements as |advancement id|}}
        <li class="item flexrow" data-item-id="{{advancement._id}}">
            <img src="{{advancement.img}}" title="{{advancement.name}}" width="24" height="24" />
            <a class="item-control item-name item-edit">{{advancement.name}}</a>
        </li>
        {{/each}}
    </ol>

    <ol class="items-list">
        {{#each data.owned.adaptations as |adaptation id|}}
        <li class="item flexrow" data-item-id="{{adaptation._id}}">
            <img src="{{adaptation.img}}" title="{{adaptation.name}}" width="24" height="24" />
            <a class="item-control item-name item-edit">{{adaptation.name}}</a>
        </li>
        {{/each}}
    </ol>
</section>