<ol class="items-list">
    <h2 style=" font-family: 'MedievalSharp', cursive;">Weapons</h2>
    {{#each data.owned.weapons as |weapon id|}}
    <li class="item " data-item-id="{{weapon._id}}" style="height:55px;">
        <div class="flexrow">
            <img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24" />
            <a class="item-control item-name item-edit">{{weapon.name}}</a>
            <div>T: {{weapon.data.type}}</div>
            <div>R: {{weapon.data.range}}</div>
            <div>A: {{weapon.data.stat}}</div>
            <div>D: {{weapon.data.damage}}</div>
            <div>I: {{weapon.data.init}}</div>
        </div>
    </li>
    {{/each}}
</ol>

<ol class="items-list">
    <h2 style=" font-family: 'MedievalSharp', cursive;">Equipment</h2>
    {{#each data.owned.inventory as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
        <a class="item-control item-name item-edit">{{item.name}}</a>

        <!-- <div class="item-controls">
             <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
             <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
         </div> -->
    </li>
    {{/each}}
</ol>
