<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="item sheet-header" data-item-id="{{item._id}}">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="itemline">
                <h1 class="itemname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BLB.Name'}}"
                        data-dtype="String" />
                </h1>
                <div class="item-controls">
                    <a class="item-control item-delete" title="{{localize 'BLB.Del'}}"><i
                            class="fas fa-trash fa-2x"></i></a>
                </div>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="form-group">
            <label for="die">{{localize "BLB.Die"}}</label>
            <select name="data.die.sides" id="die" data-dtype="Number">
                {{#select item.data.die.sides}}
                {{> "systems/BLB/templates/die-sides-options.html"}}
                {{/select}}
            </select>
            <input name="data.die.modifier" type="text" value="{{item.data.die.modifier}}"
                placeholder="{{localize 'BLB.Mod'}}" data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="attribute">{{localize "BLB.LinkAttr"}}</label>
            <select name="data.attribute" id="attribute" data-dtype="String">
                {{#select item.data.attribute}}
                {{> "systems/BLB/templates/attribute-select.html"}}
                {{/select}}
            </select>
        </div>
        {{#if item.data.ownerIsWildcard}}
        <div class="form-group">
            <label for="wild-die">{{localize "BLB.WildDie"}}</label>
            <select name="data.wild-die.sides" id="wild-die" data-dtype="Number">
                {{#select item.data.wild-die.sides}}
                {{> "systems/BLB/templates/die-sides-options.html"}}
                {{/select}}
            </select>
        </div>
        {{/if}}
        <header class="header-field">
            <span>{{localize "BLB.Desc"}}</span>
        </header>
        <div class="form-group">
            {{editor content=item.data.description target="item.data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>